<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <form action="/register" method="post">
        <h3>회원가입</h3>
        <input type="text" name="userid">
        <input type="password" name="password">
        <button type="submit">완료</button>
    </form>
</body>
</html>